@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s all;
    font-family: sans-serif;
}

/* Navigation bar CSS */

#site-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

ul {
    list-style-position: outside;
}

.dropdown-item {
    color: #05142F !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.nav-link {
    color: #D42C70cf !important;
}

.nav-link:hover,
.active>.nav-link {
    color: #FE3486 !important;
}

a{
    text-align: justify;
}

/* logo CSS */
#logo {
    width: 57.5px;
}
    

/* Media queries */
@media only screen and (max-width: 861px) {
    .title {
        font-size: 2.5rem;
    }
}


@media only screen and (max-width: 575px) {
    .title {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 426px) {
    button.navbar-toggler {
        padding: 2px 6px;
    }

    h1 {
        font-size: 2.125rem;
    }
    h2 {
        font-size: 1.55rem;
    }
    h3 {
        font-size: 1.35rem;
    }
    h4 {
        font-size: 1.15rem;
    }
    h5 {
        font-size: 1rem;
    }
    #navbarColor03>ul>li.nav-item>a>h5 {
        margin: 0;
    }
    h6 {
        font-size: 0.875rem;
    }
    p {
        font-size: 0.8875rem;
    }
}

/* 

home intro section style

*/
.intro {
    min-height: 100vh;
    
    background: url(./images/home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    z-index: -1;
    background-color:#464646;
}
.intro .home-msg{
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    text-align: center;
    position: absolute;
    width: 40rem;
    height: 25rem;
    bottom: 0rem;
    right: 0%;
    background-color: white;
} 
.intro .home-msg h1, h3{
    color: #00a1c4;
}
.intro .home-msg h1{
    padding: 2rem 0;
}
.intro .home-msg h3{
    font-weight: 100;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.intro .home-msg h2, h4, h5{
    font-size: 3rem;
    color: #c30040;
}
.intro .home-msg h2{
    font-family: 'Dancing Script', cursive;
    padding-bottom: 1rem;
}
.intro .home-msg h4{
    font-weight: 600;
    font-size: 4.5rem;
}
.intro .home-msg h5{
    padding: .3rem 0;
    font-weight: 600;
    font-size: 1.5rem;
}

/* 

home section style

*/

.home {
    /* border: 2px red solid; */
    
    padding: 2rem;
}

.home .bio-pic {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    padding: 2rem;
    /* border: 2px red solid; */
}

.home img {
    margin-top: 80px;
    width: 90%;
} 

.home .work .work-heading h1 {
    text-align: center;
}

.home .work .work-heading p{
    padding: 2rem 2rem 0rem 2rem;
    font-size: 17px;
    /* border: 2px red solid; */
}

.home .work .work-heading h2 {
    font-weight: 200;
    padding: 0rem 1rem;
    text-decoration: underline;
}
.home .work-content1 ol, .work-content2 ol, .work-content3 ol, .work-content4 ol{
    /* border: 2px black solid; */
    padding: 2rem;
   
}
.home .work-content1 ol li, .work-content2 ol li, .work-content3 ol li, .work-content4 ol li {
    padding: 0.5rem;
}

.home .work-content4 .extra h3{
    padding: 1rem;

}

/* 

appreciations section style

*/



.appreciations {
    width: 100%;
    margin-top: 80px;
    padding-top: 2rem;
    background: linear-gradient(#e66465, #91e5e5);

}

.appreciations .up-btn {
    display: block;
    position: fixed;
    width: 100%;
    top: 85%;
    left: 90%;
    padding: 2rem;
    /* border: 2px red solid; */
}

.appreciations .up-btn a {
    text-decoration: none;
    background-color: aqua;
    padding: 1rem;
    border-radius: 15px;


}
.appreciations .btn-up {
    font-size: 25px;
}

.appreciations .app {
    border: 2px solid black;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.appreciations .app .app-1, .appreciations .app .app-2, .appreciations .app .app-3 {
    width: 30%;
    /* border: 2px solid black; */

}
.appreciations .app .app-pic {
    width: 80%;
    /* height: 5rem; */
    /* border: #3A001D solid 3px; */
}
.appreciations .app .app-pic img{
    width: 100%;
    height: 12rem;
}


.appreciations .app img {
    padding: 1rem;
    width: 100%;
} 

@media (max-width:900px) {

    .appreciations .app {
        flex-direction: column;
    }
    .appreciations .app .app-1, .appreciations .app .app-2, .appreciations .app .app-3 {
        width: 70%;
    }
}

/* 

poster section style

*/

/* Poster CSS */
#banner {
    background: radial-gradient(rgba(177, 2, 72, 0.85), rgba(177, 2, 72, 0.5)), url('./banner.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 7.5px;
}


/* 

free-register section style
*/



.free-register {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    background: linear-gradient(#0e0d0d, #e2e3f0);
    /* border: 2px black solid; */
    padding: 2rem;
}

/* 

about-dr-singh section style

*/

.about-dr-singh {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: aqua;
    /* border: 2px red solid; */
}

/* 

gallery section style

*/

.gallery{
    background-color: tomato;
    padding: 2rem 9%;
    min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	position: relative;
	z-index: 0;
}
.img-container img{
    margin-top: 7.5rem;
	position: absolute;
	top: 0; left: 0;
	z-index: -1;
	width: 50%;
	height: 50%;
	object-fit: cover;
}
.controls{
	margin: 1rem;
	padding: 1rem;
	border-radius: 5rem;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	top: 10rem;
}
.controls .img-btn{
	width: 2rem; height: 2rem;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	margin: 0 .15rem;
}
.controls .active{
	background-color: black2;
}

/*

speaker section

*/


.speaker h1 {
    width: 100%;
    padding: 2rem;
    text-align: center;
    /* border: #08a9f3 2px solid; */
}
.speaker-heading {
    width: 100%;
    background-color: #D42C70CF;
    /* border: #c3e40a 2px solid; */
}

.speaker-box {
    width: 100%;
    /* border: #aeb90f 2px solid; */
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}

.speaker .app {
    padding: 1rem;
    border-radius: 20px;
    background-color: #3A001D ;
    color: #e0598f;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.speaker .app .speaker-img {
    width: 12rem;
    /* border: #dbb819 solid 2px; */
}
.speaker .app .speaker-img img {
    width: 100%;
    border-radius: 50%;
}

.speaker .app .speaker-bio {
    /* border: #0e0d0d 2px solid; */
    width: 90%;
    text-align: justify; 
}

.speaker .app .speaker-bio a {
    text-decoration: none;
    
}

.speaker .app .speaker-bio button {
    /* color: #5e0000;
    color: #fcff24;
    color: #00a1c4;
    color: #c30040; */

    color: #e2e3f0;
    border: none;
    background: none;
    padding: 2px;
}

/*image overlay*/

.parent {
    max-width: 500px;
    margin: 0 auto;
}

.parent img {
    width: 100%;
}

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    z-index: 2;
    color: rgb(250, 252, 249);
    transition: all 0.4s ease-in-out;
}

.parent::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    opacity: 0;
    z-index: 1;
    transition: opecity 0.2s ease-in;
}

.parent:hover .child {
    box-sizing: border-box;
    opacity: 1;
    padding-top: 3rem;
    left: 50%;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.523);
}
.parent:hover::after {
    opacity: 1;
}

/* end overlay style*/



/* 

about-us section style

*/

.about-us h1 {
    padding: 2rem;
}

/* 

footer section style

*/



footer {
    /* background-color: #726e6e; */
    color: rgb(17, 19, 18);
    padding: 1rem;
}

footer .tbal0 {
    display: flex;
    justify-content: space-around;
}

td {
    
    padding: 1rem;
}
